/* Centered Progress Bar */
.progress-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.progress-bar {
  width: 50%;
  height: 5px;
  border-radius: 5px;
  background-color: #e0e0e0;
  appearance: none;
}

.progress-bar::-webkit-progress-bar {
  background-color: #e0e0e0;
  border-radius: 5px;
}

.progress-bar::-webkit-progress-value {
  background-color: #706f6f;
  border-radius: 5px;
}

/* Card Styling */
.card {
  width: 70%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.card h4 {
  font-size: 40px;
  font-weight: bold;
}

.option-btn {
  width: 100%;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-bottom: 10px;
}

.option-btn:hover {
  background-color: #f0f0f0;
}

.option-btn.selected {
  background-color: #4caf50;
  color: white;
  border-color: #4caf50;
}

/* Navigation Buttons */
.navigation-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.selected {
  background-color: #4caf50;
  color: white;
}


